@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(/img/background.svg);
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.filter {
  position: relative;
  margin-bottom: 30px;
}

#filter-input {
  font-size: 14px;
  font-weight: 500;
  width: 351px;
  padding: 14px 20px;
  color: #f5f5fa;
  background-color: #272b34;
  border: none;
  border-radius: 6px;
}

.filter img {
  position: absolute;
  top: 14px;
  right: 20px;
}

#list {
  width: 350px;
  height: auto;
  padding: 20px;
  line-height: 35px;
  color: #272b34;
  background-color: #dddcdc;
  border: none;
  border-radius: 6px;
  list-style: none;
}
