@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --dark: #202124;
  --white: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--dark);
}

.container h1 {
  font-size: 80px;
  font-weight: 500;
  text-align: center;
  color: var(--white);
  margin-bottom: 30px;
}

.search-bar__container {
  display: flex;
  align-items: center;
  background-color: var(--white);
  width: 589px;
  padding: 11px 15px;
  border-radius: 50px;
  position: relative;
  transition: width 1.5s;
}

.icon-search {
  position: absolute;
  width: 24px;
  cursor: pointer;
  position: absolute;
  left: 15px;
}

.icon-mic {
  width: 24px;
  position: absolute;
  right: 15px;
  transition: width 0.4s;
  transition-delay: 1s;
}

.icon-lens {
  width: 24px;
  position: absolute;
  right: 49px;
  transition: width 0.4s;
  transition-delay: 1s;
}

.input {
  width: 100%;
  margin: 0 35px;
  font-size: 16px;
  color: rgb(100, 100, 100);
  background-color: transparent;
  border: none;
  outline: none;
  transition: width 1s;
  transition-delay: 0.5s;
}

.active.search-bar__container {
  width: 50px;
}

.active .input {
  width: 0;
}

.active .icon-mic {
  width: 0;
  opacity: 0;
}

.active .icon-lens {
  width: 0;
  opacity: 0;
}
